<?xml version='1.0'?>
<robot name="x_drive" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

	<!-- properties-->
	<xacro:property name="model_path" value="package://robot_description/models"/>
	<xacro:property name="package_path" value="package://robot_gazebo/config"/>
<!-- 
	<xacro:property name="pi_4" value="0.7854"/>
	<xacro:property name="pi" value="3.14159"/>
	<xacro:property name="pi_2" value="1.5708"/>
	<xacro:property name="pi_3/4" value="${pi_3}+${pi_4}"/> -->

	<xacro:property name="wheel_rot" value="3.69138"/>
	<xacro:property name="wheel_offs" value="0.14"/>
	<xacro:property name="wheel_rad" value="0.01375"/>
	
	<!--world link-->
	<link name='world'/>

	<!--chassis link-->
	<link name="base_link">
		<visual>
			<geometry>
				<mesh filename='${model_path}/chassis.dae'/>
			</geometry>
		</visual>

		<collision>
			<geometry>
				<mesh filename='${model_path}/chassis.dae'/>
			</geometry>
			<material name="pink">
				<color rgba="237 72 154 1.0"/> 
			</material>
		</collision>
		<inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="8.789"/>
           <inertia
      			ixx="0.01"
				ixy="0.0"
				ixz="0.0"
				iyy="0.01"
				iyz="0.0"
				izz="0.01"/>
    		</inertial>
	</link>

	<!-- wheels -->
	<xacro:macro name="wheel_link" params="name">
		<link name="${name}">
			<visual>
				<geometry>
					<mesh filename='${model_path}/wheel.dae'/>
				</geometry>
				<material name="dark_grey">
					<color rgba="0.2 0.2 0.2 1.0"/>
				</material>
			</visual>

			<collision>
				<geometry>
					<mesh filename='${model_path}/wheel.dae'/>
				</geometry>
			</collision>

			<inertial>
            	<origin xyz="0 0 0" rpy="0 0 0"/>
            	<mass value="0.076"/>
				<inertia
      			ixx="0.01"
				ixy="0.0"
				ixz="0.0"
				iyy="0.01"
				iyz="0.0"
				izz="0.01"/>
        	</inertial>
		</link>
	</xacro:macro>

	<xacro:wheel_link name="wheel_a"/>
	<xacro:wheel_link name="wheel_b"/>
	<xacro:wheel_link name="wheel_c"/>
	<xacro:wheel_link name="wheel_d"/>

	<!-- joints-->
	<joint name="world_2_chassis" type='fixed'>
		<origin xyz="0 0 0.025" rpy="0 0 0"/>
		<parent link='world'/>
		<child link='base_link'/>
	</joint>

	<joint name="chassis_to_wheel_a" type="continuous">
        <origin xyz="-${wheel_offs} ${wheel_offs} ${wheel_rad}" rpy="0 0 ${pi/4}"/>
        <parent link="base_link"/>
        <child link="wheel_a"/>
    </joint>

	<joint name="chassis_to_wheel_b" type="continuous">
        <origin xyz="${wheel_offs} -${wheel_offs} ${wheel_rad}" rpy="0 0 ${-3* (pi/4)}"/>
        <parent link="base_link"/>
        <child link="wheel_b"/>
    </joint>

	<joint name="chassis_to_wheel_c" type="continuous">
        <origin xyz="${wheel_offs} ${wheel_offs} ${wheel_rad}" rpy="0 0 -${pi/4}"/>
        <parent link="base_link"/>
        <child link="wheel_c"/>
    </joint>

	<joint name="chassis_to_wheel_d" type="continuous">
        <origin xyz="-${wheel_offs} -${wheel_offs} ${wheel_rad}" rpy="0 0 ${3 *(pi/4)}"/>
        <parent link="base_link"/>
        <child link="wheel_d"/>
    </joint>

	<ros2_control name="GazeboSystem" type="system">
	    <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
		<joint name="chassis_to_wheel_a">
   			<command_interface name="velocity"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
 		</joint>
		<joint name="chassis_to_wheel_b">
   			<command_interface name="velocity"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>

 		</joint>
		<joint name="chassis_to_wheel_c">
   			<command_interface name="velocity"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
 		</joint>
		<joint name="chassis_to_wheel_d">
   			<command_interface name="velocity"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
 		</joint>
	</ros2_control>

	<gazebo>
  		<plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
			<parameters>$(find robot_gazebo)/config/omni_wheel_params.yaml</parameters>
  		</plugin>
	</gazebo>

</robot>