<?xml version='1.0'?>
<robot name="x_drive" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Xacro Properties-->
	<xacro:property name="stl_path" value="package://vex_robot/models"/>
	<xacro:property name="pi_4" value="0.7854"/>
	<xacro:property name="pi_2" value="1.5708"/>
	<xacro:property name="wheel_rot" value="3.69138"/>
	<xacro:property name="wheel_offs" value="0.14"/>
	<xacro:property name="wheel_rad" value="0.01375"/>
	
	<!-- Stand in link for the world-->
	<link name='world'/>

	<!--Chassis link-->
	<link name="chassis">
		<visual>
			<geometry>
				<mesh filename='${stl_path}/chassis.dae'/>
			</geometry>
		</visual>

		<collision>
			<geometry>
				<mesh filename='package://vex_robot/models/chassis.dae'/>
			</geometry>
		</collision>
		<inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia
                ixx="0" ixy="0" ixz="0"
                iyy="0" iyz="0"
                izz="0"/>
        </inertial>
	</link>

	<!-- Wheels -->
	<xacro:macro name="wheel_link" params="name">
		<link name="${name}">
			<visual>
				<geometry>
					<mesh filename='package://vex_robot/models/wheel.stl'/>
				</geometry>
				<material name="dark_grey">
					<color rgba="0.2 0.2 0.2 1.0"/>
				</material>
			</visual>

			<collision>
				<geometry>
					<mesh filename='package://vex_robot/models/wheel.stl'/>
				</geometry>
			</collision>
		</link>
	</xacro:macro>

	<xacro:wheel_link name="wheel_a"/>
	<xacro:wheel_link name="wheel_b"/>
	<xacro:wheel_link name="wheel_c"/>
	<xacro:wheel_link name="wheel_d"/>

	<!-- Joints-->
	<joint name="world_2_chassis" type='fixed'>
		<origin xyz="0 0 0.025" rpy="0 0 0"/>
		<parent link='world'/>
		<child link='chassis'/>
	</joint>

	<joint name="to_wheel_a" type="continuous">
        <origin xyz="-${wheel_offs} ${wheel_offs} ${wheel_rad}" rpy="0 0 ${pi_4}"/>
        <parent link="chassis"/>
        <child link="wheel_a"/>
    </joint>

	<joint name="chassis_to_wheel_b" type="continuous">
        <origin xyz="${wheel_offs} -${wheel_offs} ${wheel_rad}" rpy="0 0 ${pi_4}"/>
        <parent link="chassis"/>
        <child link="wheel_b"/>
    </joint>

	<joint name="chassis_to_wheel_c" type="continuous">
        <origin xyz="${wheel_offs} ${wheel_offs} ${wheel_rad}" rpy="0 0 -${pi_4}"/>
        <parent link="chassis"/>
        <child link="wheel_c"/>
    </joint>

	<joint name="chassis_to_wheel_d" type="continuous">
        <origin xyz="-${wheel_offs} -${wheel_offs} ${wheel_rad}" rpy="0 0 -${pi_4}"/>
        <parent link="chassis"/>
        <child link="wheel_d"/>
    </joint>
</robot>