<?xml version="1.0" ?>

<robot name="xacro_properties" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- this xacro file of parameters is inherited by both the sim urdf (in robot_gazebo) and the physical robot urdf (in this package)-->

    <!-- LiDAR Specs + Location -->
    <xacro:property name="lidar_resolution" value=""/>
    <xacro:property name="min_range" value="0.10"/>
    <xacro:property name="max_range" value="15"/>

    <xacro:property name="lidar_x" value="-0.13"/>
    <xacro:property name="lidar_y" value="0.12"/>
    <xacro:property name="lidar_z" value="0.14"/>
    <xacro:property name="lidar_yaw" value="${3* pi/4}"/>

    <!-- Camera Specs + Location -->

</robot>